@model WebMVC.ViewModels.AccountLoginViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/Content/assets/images/favicon-32x32.png" type="image/png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <title>Đăng nhập hệ thống</title>
</head>

<body class="">
    <!--wrapper-->
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="p-4">
                                    <div class="mb-3 text-center">
                                       
                                    </div>
                                    <div class="text-center mb-4">
                                        <h6 class="text-uppercase">Đăng nhập hệ thống</h6>
                                        <div class="text-left m-auto">
                                            @if (TempData["error"] != null && !string.IsNullOrEmpty(TempData["error"].ToString()))
                                            {
                                              <div class="alert alert-danger alert-dismissible">
                                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                  <strong>@TempData["error"]</strong>
                                              </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <form method="post" action="@Url.Action( "Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl } )" class="g-3">
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.UserName)
                                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.Password)
                                                <div class="input-group" id="show_hide_password">
                                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off" })
                                                    
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group mt-3">
                                                <div class="d-flex justify-content-center">
                                                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
